body
{
    margin: 0;
    

}

.book_card
{
    background-color: white;
    border: solid  #142c18;
    border-left: rgba(255, 238, 0, 0.871) 10px solid;
    border-radius:  1ch;
    padding: 10px 20px;
    width: 200px;
    font-family: 'Courier New', Courier, monospace;
    height: 270px;
    display: flex;
    flex-direction: column;
    justify-content: first baseline;
}
.add_book
{
    background-color: white;
    border: solid 10px #142c18;
    
    border-radius:  1ch;
    padding: 10px 20px;
    width: 200px;
    font-family: 'Courier New', Courier, monospace;
    height: 270px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: xxx-large;

}
.add_book:hover
{
    transform: scale(1.03) perspective(1px)
}

.delete
{
    background-color: rgb(255, 95, 95);
    color: white;
    padding: 5px 10px;
    border: solid #2c3e50;
    border-radius: 1ch;
    
}
.header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(11, 74, 11);
    padding: 15px 30px;
    color: white;
}
 h3
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.footer
{
    position: fixed;
    padding: 10px 10px 0px 10px;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #142c18;
    color: white;

}
/* main book content */
.content
{
    padding: 40px 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 30px;

}

/* modal */
.modal_container
{   background-color: wheat;
    opacity: 0;
    pointer-events: none;
    height: 100vh;
    width: 100vw;
    top: 0;
    bottom: 0;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal
{
    display: flex;
    flex-direction: column;
    background-color:   rgb(255, 255, 255);
    padding: 30px 40px;
    border-radius: 1ch;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    
}
.modal p
{
    
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    font-weight: bolder;
}
#close_modal
{
    align-self: flex-end;
    width: 10%;
}
#close_modal:hover
{
    transform: scale(1.05) perspective(1px)
}
.modal_show
{
    opacity: 1;
    pointer-events: all;
}

/* Form */
form
{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
form button
{
    width: 50%;
    margin-top: 20px;
    height: 35px;
    background-color: white;
    border-radius: 1ch;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
}

.form_row
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    
}
.form_row p
{
    font-family: 'Courier New', Courier, monospace;
}
.form_row input
{
    height: 30px;
    border-radius: 1ch;
}